
#radission{
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
#customer{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
#hoteldetail{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
}