 .booking-form {
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: auto;
    width: 96%;
    flex-shrink: 1;
  }
  
  .hotel-description {
    margin-right: 4%;
    margin-top: 2%;
  }
  
  .hotel-description p,
  .hotel-description ul {
    font-weight: 400;
  }
  
  .hotel-booking {
    /* height: 25rem; */
    height: fit-content;
    max-width: 98%;
    display: flex;
  
    border: 1px solid black;
  }
  
  .hotel {
  
    height: fit-content;
    min-width: 65%;
    justify-content: center;
    align-items: center;
    border-right: 1px black solid;
    display: flex;
    align-items: center;
  }
  
  .hotel-img {
    height :350px; 
  }
  
  .booking-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: left;
    padding: 1rem 2rem;
    flex-shrink: 1;
  }
  
  .submit {
    grid-column: 2/-1;
  }
  
  #from_date,
  #to_date {
    justify-self: stretch;
  }
  
  h6 {
    font-family: cursive;
    font-weight: 500;
    letter-spacing: -0.04rem;
  }
  
  .book-now {
    background-color: #e0e0e0;
  }
  
  .book-now:hover,
  .book-now:focus {
    color: white !important;
  }
  
  .checked {
    color: orange;
  }
  
  .carousel-inner {
    max-width: fit-content;
    z-index: 0;
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(188, 143, 143)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-prev {
    top: -55%;
    z-index: 1;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(188, 143, 143)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next {
    top: -55%;
    right: 30%;
    z-index: 0;
  }
  .payment{
      display: flex;
      justify-items: center;
  }
  .btn{
    align-self: center;
    margin-left: 70%;

  }
  