

body{
    font-family: "Ubuntu", sans-serif;
}

.social{
    height: 20px;
    width: 22px;

    
}
#socialicon{
    display: flex;
    justify-content: right;
    vertical-align: middle;
}

#searchbar{

    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    
  background-repeat: no-repeat;
  background-position: center;

  height: 430px;

  background-size: cover;
}
#city{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% ;
    justify-content: space-evenly;
}
.imagescity{
    
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 15%;
  box-shadow: gray 10px 10px 10px;
    
}
.img-container{ 
    border-radius:15%;
    min-height: fit-content;
    position: relative;
}
content{
    overflow: auto;
}
#searchbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#search{
  height: 2.6rem;
  width: 20rem;
  padding-left: 0.625rem;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 1rem;
  border-radius: 0.75rem;
}
#search:focus {
    outline: none;
  }
  #viewmore{
    margin-left: 65%;
    transform: translateX(-50%);
    margin-bottom: 2%;

  }
  .overlay {
    width: 9.375rem;
    height: 9.375rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay:hover {
      opacity: 1;

  }
  .places-div {
    position: relative;
  }
  
  @media (max-width:576px){
  #city{
    flex-direction: column;
    justify-content: space-evenly;
  }
  }
  @media (max-width:576px){
    #viewmore{
      margin-left: 52%;
      transform: translateX(-50%);
    
      }
    }