

body{
    font-family: "Ubuntu", sans-serif;
}

.imagescity{
    height: 150px;
    width: 150px;

}
.social{
    height: 20px;
    width: 22px;

    
}
#socialicon{
    display: flex;
    justify-content: right;
    vertical-align: middle;
}

#searchbar{

    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    
  background-repeat: no-repeat;
  background-position: center;

  height: 430px;

  background-size: cover;
}
#city{
    margin-left: 15%;
    margin-right: 15%;
    padding: 4%;
}
.imagescity{
    
    border-radius: 15%;
}
.img-container{
    padding:4%; 
    border-radius:15%;
}
content{
    overflow: auto;
}
#searchbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#search{
  height: 2.6rem;
  width: 20rem;
  padding-left: 0.625rem;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 1rem;
  border-radius: 0.75rem;
}
search:focus {
    outline: none;
  }
  #viewmore{
    margin-left: 64%;
    transform: translateX(-50%);
    margin-bottom: 3%;

  }
  