#content {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

/****HOTEL DESCRIPTION***/
.hotel {
  background-color: rgb(132, 136, 139);

  max-width: 70%;
  max-height: 20%;
  margin: 2% auto;
  display: flex;
}

.hotelimg {
  width: 15rem;
  height: 13.5rem;
  display: flex;
}

.description {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 3rem 0 2rem;
  display: flex;
}


/****BOOKING DETAILS****/

.payment strong,
.tariff strong {
  font-family: cursive;
}

.payment {
  border: 1px solid black;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  background-color: #bc8f8f;
  pointer-events: none;
  display: flex;
}

.pay-now {
  pointer-events: none;
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: block;
}

.customer{
  margin: 1% 0;
}


